

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="cyan">
    <h1>
        Python <br>
        ---------
    </h1>
    <h3>
        Python is often used as a support language for software developers <br>
    for build control and management, testing, and in many other ways. <br> 
    SCons for build control. Buildbot and Apache Gump for automated continuous compilation and testing. <br>
    Roundup or Trac for bug tracking and project management.
    </h3>
    {{a}}
    {{b}}
</body>
</html>