{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet"type="text/css" href="{%static 'logstyle/style.css' %}">
</head>

<body background="{% static 'images\pexels-elli-1854652.jpg' %}">
    <center>
    <div class="log">
        <form action="logsub/" method="post">
            {% csrf_token %}
            <h1>login</h1>
            <input type="text" Name="Username" placeholder="Username" required> <br>
            <input type="password" Name="Password" placeholder="Password" required> <br>
            <button type="Submit">Submit</button>
            </div>
        </form>
    </center>
</body>
</html>