{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet"type="text/css" href="{%static 'logstyle/style1.css' %}">
</head>

<body background="{% static 'images\pexels-elli-1854652.jpg' %}">
    <center>
    <div class="log">
        <form action="{% url 'regi' %}" method="post">
            {% csrf_token %}
            <h1>Register</h1>
            <input type="text" name="Username" placeholder="Username" required> <br>
            <input type="text" name="Firstname" placeholder="Firstname" > <br>
            <input type="text" name="Lastname" placeholder="Lastname" > <br>
            <input type="E-Mail" name="EMail" placeholder="E-Mail" required> <br>
            <input type="Password" name="Password" placeholder="Password" required> <br>
            <input type="Password" name="RePassword" placeholder="Re-enter password" required> <br>
            <button type="Register">Register</button> <br>
            <font face="Arial" size='3' color="white">{{regs}}</font>
            </div>
        </form>
    </center>
</body>
</html>