.log{
    background-color: rgba(153, 145, 145, 0.39);
    width: 400px;
    padding: 10px;
    margin-top: 200px;
    border-radius: 10px;

}.log input{
    margin: 10px;
    width: 200px;
    height: 30px;
    padding-left: 10px;
    border-radius: 10px;

}.log button{
    width: 220px;
    height: 30px;
    border-radius: 10px;
    color: aliceblue;
    background-color: rgba(246, 41, 0, 0.74);
    margin-top: 20px;
    margin-bottom: 30px;

}.log h1{
    color: rgb(255, 255, 255);
}.log h1{
    font-style: italic;
}
.log button:active{
    transform:scale(.80)
}
